body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
}

.points-notice-pmax {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

.window {
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    height: 40vw;
    width: 40vw;
}

.square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.subwindow {
    /*border: 1px solid gray;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: absolute;
    align-self: center;
    justify-self: center;
    background-color: blue;
    height: 90px;
    width: 90px;
}

.box2 {
    display: none;
    position: absolute;
    align-self: center;
    justify-self: center;
    background-color: blue;
    height: 90px;
    width: 90px;
}

.nino {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    position: absolute;
    z-index: 10;
}

.ninoImg {
    height: 30vw;
    width: auto;
    position: absolute;
    z-index: 11;
}

.buttons {
    margin-top: 10px;
}
